<a href="https://colab.research.google.com/github/Malu247/programacion1-/blob/main/tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parte 2: Diseñe y corra un código en Google Colab que: (1) Cambie una lista a un una tupla, a un diccionario y a un conjunto. (2) Similar para una tupla. (3) Similar para un diccionario. (4) Similar para un conjunto. Guarde el código en un repositorio del Github persona

Convertir una Lista

In [1]:
lista = [1, 2, 3, 4, 5]
lista

[1, 2, 3, 4, 5]

In [2]:
tupla = tuple(lista)
tuple

tuple

In [5]:
lista2 = [("nombre", "James"), ("edad", 26)]
diccionario = dict(lista2) #Las listas simples no se pueden convertir en diccionarios
diccionario

{'nombre': 'James', 'edad': 26}

In [6]:
conjunto = set(lista)
conjunto

{1, 2, 3, 4, 5}

Convertir una Tupla

In [7]:
tupla2 = ("Harry", "Niall", "Liam", "Zayn", "Louis")
tupla2

('Harry', 'Niall', 'Liam', 'Zayn', 'Louis')

In [8]:
lista3 = list(tupla2)
lista3

['Harry', 'Niall', 'Liam', 'Zayn', 'Louis']

In [12]:
diccionario2 = dict(enumerate(tupla2))
diccionario2 #Se utiliza el enumerate para cambiar una tupla simple

{0: 'Harry', 1: 'Niall', 2: 'Liam', 3: 'Zayn', 4: 'Louis'}

In [22]:
conjunto2 = set(tupla2)
conjunto2

{'Harry', 'Liam', 'Louis', 'Niall', 'Zayn'}

Convertir un Diccionario

In [13]:
diccionario3 = {"nombre": "Justin", "apellido": "Bieber", "edad": 22 }
diccionario3

{'nombre': 'Justin', 'apellido': 'Bieber', 'edad': 22}

In [21]:
lista4 = list(diccionario3.items()) #Al usar items se convierten en tuplas para poder hacer una lista
lista4

[('nombre', 'Justin'), ('apellido', 'Bieber'), ('edad', 22)]

In [24]:
tupla3 = tuple(diccionario3.items())
tupla3

(('nombre', 'Justin'), ('apellido', 'Bieber'), ('edad', 22))

In [25]:
conjunto3 = set(diccionario3.items())
conjunto3

{('apellido', 'Bieber'), ('edad', 22), ('nombre', 'Justin')}

Convertir un Conjunto

In [26]:
conjunto4 = {"pikachu", "bulbasaur", "charizard", "squirtle"}
conjunto4

{'bulbasaur', 'charizard', 'pikachu', 'squirtle'}

In [27]:
lista5 = list(conjunto4)
lista5

['bulbasaur', 'pikachu', 'charizard', 'squirtle']

In [28]:
tupla4 = tuple(conjunto4)
tupla4

('bulbasaur', 'pikachu', 'charizard', 'squirtle')

In [31]:
diccionario4 = dict(enumerate(conjunto4))
diccionario4

{0: 'bulbasaur', 1: 'pikachu', 2: 'charizard', 3: 'squirtle'}